<!-- Sol Panel -->
 <form [formGroup]="logoutForm" (ngSubmit)="logOutService()"></form>
<div class="side-panel">
    <h2>Yönetim Paneli</h2>
    <nav>
      <ul>
        <li><a href="#" routerLink="/mainPage">Ana sayfa</a></li>
        <li><a href="#" routerLink="/addPage">Araç Ekle</a></li>
        <li><a href="#" routerLink="/updatePage">Araç Güncelle</a></li>
        <li><a href="#" routerLink="/deletePage">Araç Sil</a></li>
        <li><a href="#" routerLink="/errorPage">Arıza kodu sorgula</a></li>
        <li><a href="#" routerLink="/searchPage">Tüm Araçları Göster</a></li>
        <li><a href="#" routerLink="/stock">Stoklarım</a></li>
        <li><a href="#" routerLink="/login">Giriş Yap</a></li>
        <li><a href="#" (click)="logOutService()">Çıkış Yap</a></li>
      </ul>
    </nav>
  </div>
<router-outlet></router-outlet>