 <h2>App component works</h2>
<h2><button routerLink="/Login">Login</button></h2>
<h2><button routerLink="/addPage">add page</button></h2>
<h2><button routerLink="/deletePage">delete page</button></h2>
<h2><button routerLink="/aiPage">ai page</button></h2>
<h2><button routerLink="/mainPage">main page</button></h2>
<h2><button routerLink="/searchPage">search page</button></h2>
<h2><button routerLink="/updatePage">update page</button></h2>
<h2><button routerLink="/userPage">user page</button></h2>
<router-outlet></router-outlet>